.itemContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    min-height: 300px;
    padding: 30px 35px;
    background-color: var(--BgContainer);
    border-radius: 25px;
    /* border: 1px solid red; */
    text-align: center;
    flex: 0 0 auto;
    align-items: center;
    transition: background .2s ease-in-out;
}

.itemContainerDisabled {
    background-color: rgba(211, 211, 211, 0.767);
}

.itemIconContainer {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--BodyBg);
    padding: 15px 20px;
    border-radius: 100%;
    margin-bottom: 25px;
}

.itemIconContainer i {
    font-size: 24px;
}

.itemToolsText {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #5c5b66;
}

.itemToolsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    /* background-color: red; */
}

.buttonContainer {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    top: 10px;
    right: 10px;
    background-color: red;
    cursor: pointer;
    transition: opacity .2s ease-in-out;
}

.buttonActivate {
    background-color: rgb(22, 92, 22);
}

.buttonContainer i {
    font-size: 10px;
    color: white;
}

.buttonContainer:hover {
    opacity: 0.6;
}