.itemContainer {
    display: flex;
    flex-direction: column;
    width: 250px;
    min-height: 300px;
    padding: 30px 35px;
    background-color: var(--BgContainer);
    border-radius: 25px;
    /* border: 1px solid red; */
    text-align: center;
    flex: 0 0 auto;
    align-items: center;
}

.itemIconContainer {
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: var(--BodyBg);
    padding: 15px 20px;
    border-radius: 100%;
    margin-bottom: 25px;
}

.itemIconContainer i {
    font-size: 24px;
}

.itemToolsText {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
    color: #5c5b66;
}

.itemToolsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    flex-wrap: wrap;
    /* background-color: red; */
}