
.modalContainer {
    display: flex;
    position: relative;
    /* padding: 20px 25px; */
    height: 0;
    width: auto;
    background-color: lightblue;
    border-radius: 8px;
    margin: 25px 0px;
    justify-content: center;
    transition: all .2s ease-in-out;
}

.childrenContainer {
    visibility: hidden;
}

.openedModal {
    padding: 20px 25px;
    height: auto;
}

.buttonContainer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 2px;
    border-radius: 50%;
    background-color: wheat;
    top: -10px;
    /* right: -10px; */
    right: 50%;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.buttonContainer:hover {
    transform: translateY(-2px);
}

.button {
    font-size: 14px;
    color: rgb(20, 19, 19);
    background-color: transparent;
    border: none;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.openedModal > .buttonContainer > .button {
    transform: rotate(90deg);
}

.openedModal > .buttonContainer {
    right: -10px;
}

.openedModal > .childrenContainer {
    visibility: visible;
}

.modalText {
    color: rgb(20, 19, 19);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transition: opacity .2s ease-in-out;
    opacity: 0;
}

.openedModal .modalText {
    opacity: 1;
}