.title {
    font-size: 60px;
    font-weight: bold;
    line-height: 85px;
    margin-bottom: 25px;
}

.subtitle {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
}

.description {
    font-size: 18px;
    color: #5c5b66;
    line-height: 32px;
}

/* Dark palette  */
.darkBackground {
    background-color: '#1E201E';
}

.darkSBackground {
    background-color: #3C3D37 !important;
}

.darkTextColor {
    color: '#697565'
}