:root {
  --BgContainer: #fcf8f6;
  --BodyBg: #FCF5EF;
}

* {
  font-family: 'Rubik', sans-serif;
}

html {
  background-color: var(--BodyBg);
  transition: background-color .2s ease-in-out;
}

body {
  margin: 0;
}

html.dark {
  background-color: #1E201E;
}

html.dark p, html.dark h1, html.dark h2, html.dark h3 {
  color: #697565
}

html.dark input, html.dark textarea {
  background-color: #1E201E;
  color: #697565;
}

.AppContainer {
  margin-left: 8%;
  margin-right: 8%;
}

h1, h2, h3, p {
  margin: 0;
}

input, textarea {
  border: none;
}

textarea:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }
}