:root {
  --BgContainer: #fcf8f6;
  --BodyBg: #FCF5EF;
}

* {
  font-family: 'Rubik', sans-serif;
}

html {
  background-color: var(--BodyBg);
}

body {
  margin: 0;
}

.AppContainer {
  margin-left: 8%;
  margin-right: 8%;
}

h1, h2, h3, p {
  margin: 0;
}

input, textarea {
  border: none;
}

textarea:focus {
  outline: none;
}

@media only screen and (max-width: 600px) {
  html, body {
    overflow-x: hidden;
  }
}